.intro
  position: relative
  padding-top: 208px
  .intro-content
    display: flex
    z-index: 10
    position: relative
    width: 100%
    @media (max-width: 768px)
      justify-content: center
    .wrapper-title
      width: 50%
      position: relative
      @media (max-width: 768px)
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
      .wrapper__eclipse
        position: absolute
        bottom: 375px
        left: 400px
        @media (max-width: 992px)
          display: none
      .wrapper__vector
        position: absolute
        bottom: 435px
        left: 40px
        @media (max-width: 992px)
          display: none
      .intro__title
        +boldRaleway
        font-size: 50px
        line-height: 59px
        color: $black-medium
        margin: 0 0 25px 0
        max-width: 389px
        @media (max-width: 768px)
          font-size: 40px
          text-align: center
      .intro__subtitle
        max-width: 468px
        font-size: 20px
        line-height: 35px
        color: $grey
        margin: 0
        +regularRoboto
        @media (max-width: 768px)
          font-size: 16px
          text-align: center
      .explore-btn
        margin-top: 30px
        background: $blue
        color: $white
        box-shadow: 0px 50px 50px #18856b33
        border-radius: 50px
        padding: 15px 71px
        border: none
        cursor: pointer
        -webkit-transition: all .3s ease
        -o-transition: all .3s ease
        transition: all .3s ease
        &:hover
          background-color: #1cddc6
          transform: scale(1.02)
    .wrapper-title-img
      width: 50%
      position: relative
      display: flex
      @media (max-width: 768px)
        display: none
      .wrapper__search
        position: absolute
        top: -72px
        right: 36px
        z-index: 10
        @media (max-width: 992px)
          display: none
      .wrapper__menu
        position: absolute
        bottom: 97px
        left: 51px
        z-index: 10
        @media (max-width:1399px)
          left: 48px
        @media (max-width: 1300.98px)
          display: none
      .wrapper__semicircle
        position: absolute
        top: -80px
        left: 175.1px
        z-index: 10
        @media (max-width: 992px)
          display: none
      .wrapper__rectangle
        position: absolute
        bottom: 132px
        right: 29px
        z-index: 1
        @media (max-width: 992px)
          display: none
      .notebook-img
        max-width: 100%
        height: auto
        -o-object-fit: contain
        object-fit: contain
        z-index: 9

  .blobs
    position: absolute
    top: -70px
    right: 0
    z-index: 1
    width: 1249px
    height: 950px
    @media (max-width:1399px)
      width: 980px
      height: 900px
    @media (max-width:1199px)
      width: 750px
      height: 750px
    @media (max-width:992px)
      width: 720px
      height: 650px
    &__img
      -o-object-fit: cover
      object-fit: cover
      width: 100%
      height: 100%
